<div class="col-sm-4">
    @Html.Action("MostReadPosts", "Home", new { area = "Posts" })
</div>
<div class="col-sm-4">
    @Html.Action("MostCommentedPosts", "Home", new { area = "Posts" })
</div>
<div class="col-sm-4">
    @Html.Action("MostLikedPosts", "Home", new { area = "Posts" })
</div>
