<div>
    @Html.Action("MostReadPosts", "Home", new { area = "Posts" })
</div>
<div>
    @Html.Action("MostCommentedPosts", "Home", new { area = "Posts" })
</div>
<div>
    @Html.Action("MostLikedPosts", "Home", new { area = "Posts" })
</div>
