@{
    ViewBag.Title = "Posts Home Page";
}

<div id="displayedPost">

</div>

<div id="postsShown">
    @Html.Action("Posts", "Home", new { area = "Posts" })
</div>

@LoadingElementHelper.ProgressBar(id: "loading", width: 90, alertType: "info")

@* CLIENT VALIDATION *@
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
