@using BlogSystem.Web.Areas.Posts.Models

@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Posts Home Page";
}

<div class="row">
    @Html.DisplayForModel(@Model)
</div>

<a href="#" id="postUpdater">UpdatePosts</a>
<input id="message" type="text" name="name" value="SomeText" />
<div id="messages"></div>


