@using BlogSystem.Web.Areas.Posts.Models

@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Posts Home Page";
}

@Html.DisplayForModel(@Model)

<a href="#" id="postUpdater">UpdatePosts</a>
<input id="message" type="text" name="name" value="SomeText" />
<div id="messages"></div>

@RazorHelpers.IntToMoney(32)
