<div id="postForm">    
    @Html.Action("InsertPostForm", "Home", new { area = "Posts" })
</div>  

@LoadingElementHelper.ProgressBar(id: "loading", width: 90, alertType: "danger")

@* CLIENT VALIDATION *@
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}