<div id="div-chat-menu">
    @*<button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>*@
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <span id="unreadMessagesCount">0</span>
    </button>
</div>
