<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BlogSystem" connectionString="Data Server=e8e7c2e2-459e-4de6-876d-a40b00a42eda.sqlserver.sequelizer.com;Database=dbe8e7c2e2459e4de6876da40b00a42eda;User ID=akjtqmopwfnnkwas;Password=RM4L5Jr7CSkYfrRrN3KV4Qufqg3vjcvwBmwySY8ygwr5sQDJCoZEroYarXuWQ5Wz;Initial Catalog=BlogSystemDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="BlogSystem" connectionString="Data Source=BOYCHO-PC\SQLEXPRESS;Initial Catalog=BlogSystemDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>