<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BlogSystem" connectionString="Server=d66a9d46-2f4e-4efa-9788-a47700cc2766.sqlserver.sequelizer.com;Database=dbd66a9d462f4e4efa9788a47700cc2766;User ID=elbrzoasqcdpktio;Password=EvG6zJAkGuDGPPxGzLBtiNSJCeiXKyAfSMCXQrUHa2gHeBd7RHkWr8zZK7BvzLHi;Integrated Security=False" providerName="System.Data.SqlClient" />
    <!--<add name="BlogSystem" connectionString="Data Source=BOYCHO\SQLEXPRESS;Initial Catalog=BlogSystemDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>