body {
    padding-top: 50px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Added by me*/

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#div-chat-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
}

#unreadMessagesCount {
    color: red;
}

.largerGlyphicon {
    font-size: 1.4em;
}

#globalMesseges, #globalPrivateMessages, #globalAlerts, .counterIcon {
    position: relative;
}

#globalMessegesCount, #globalPrivateMessagesCount, #globalAlertsCount, .counterValue {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.counterValue {
    display: initial;
}

.commentsUrl {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.progressBar {
    margin: 5px;
}

.progressBar, .hiddenMessage {
    display: none;
}

.profilePic {
    width: 30px;
    height: 30px;
    margin: 10px;
    display: inline-block;
}

#newPostAlerts {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 300px;
    z-index: 10;
}

#modalContentElement > .modal-content {
    height: 560px;
    overflow-y: scroll;
}

.modal-dialog {
  z-index: 1050;}