@helper TempMessage(string message = "Success", string alertType = "success")
{
    <div data-dismiss="alert" class="alert alert-dismissable alert-@alertType">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> Post added. <a href="#" class="alert-link">@message</a>.
    </div>
}